*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding:20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    background-color: rgb(11, 19, 30);
    width: 800px;
    height: 600px;
    border-radius: 15px;
}
nav{
    margin: 30px;
    padding: 12px;
    border-radius: 20px;
    background-color: rgb(32, 43, 59);
    height: 90%;
    color: #9399A2;
}
nav div{
    text-align: center;
    margin-top: 20px;
}
span{
    font-size: 20px;
    
}

.animated-icon{
    margin-top: 0px;
    margin-bottom: 35px;
}
.animated-icon img{
    width: 50px;
}
h6{
    margin-top:5px;
}
.active{
    color: #F0F1F1;
}

/* .search-box{
    width: 100%;
} */
.search-box input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    border-radius: 10px;
    background-color: rgb(32, 43, 59);
    color: #F0F1F1;
}

input:focus{
    outline:1px solid #F0F1F1;
}

.day-forecast-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 43, 59);
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    color:#9399A2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.day-times{
    display: flex;
    text-align: center;
    padding: 10px;
}
.forecast-divs{
    width: 80px;
    border-right:1px solid #9399A2;
}
.day-last-time{
    border-right: 0;
}
